<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link rel="stylesheet" href="addstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08c13121c6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topUI">
        <a href="/"><h1 id="h1">Todo App</h1></a>
    </div>
    <div class="container">
        <h1 id="addh1">Add New Todo</h1>
        <textarea name="text" id="textbox" cols="50" rows="15" required placeholder="What do you want to do?"></textarea><br />
    
        <div class="priorityContainer">
            <label for="priority">Priority</label>
            <select id="priority" name="priority" required>
                <option value="" disabled selected>Select priority</option>
                <option value="high">High</option>
                <option value="middle">Middle</option>
                <option value="low">Low</option>
            </select><br />
        </div>
        <div class="deadlineContainer">
            <p id="deadlineP">Deadline (dd/mm/yyyy)</p>
            <input type="text" id="deadline" name="deadline" required placeholder="e.g. 20/04/2025"><br />
        </div>
        <div class="buttons">
            <button id='submitbutton' type="submit" class="allbutton">Submit</button>
            <a href="/"><button id="backbutton" class="allbutton" type="button">Back</button></a>
        </div>
    </div>
</body>
<script src="add.js">
</script>
</html>